:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #333;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.deposits-container,
.new-expense-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  width: 18rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #333;
}

.deposits-container button,
.new-expense-container button {
  width: 3rem;
  height: 6rem;
  border-radius: 50%;
}

.deposits-container {
}

.new-expense-container {
}

.balance-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr repeat(3, 1fr);
  padding: 1rem;
  height: 60vh;
  width: 80vw;
  border-radius: 8px;
  border: 1px solid #333;
}

input {
  border-radius: 8px;
  height: 6rem;
  border: none;
  background-color: #c4ffca;
  text-align: center;
}

.total {
  grid-column: 3;
  grid-row: 1;
}

.total-deposits {
  grid-column: 2;
  grid-row: 2;
  /* justify-self: flex-start; */
}

.total-expenses {
  grid-column: 4;
  grid-row: 2;
  /* justify-self: flex-start; */
}
