:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  /* box-sizing: border-box; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

body {
  background-color: #edf1d6;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid white;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #40513b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
:focus {
  outline: 2px solid #333;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #40513b;
  }
  button {
    background-color: #e4e4e4;
  }
}

p {
  font-size: 1.6rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.expense-deposit-container {
  display: flex;
  gap: 2rem;
}

.deposits-container,
.new-expense-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  gap: 1rem;
  flex-grow: 1;
  height: 16rem;
  width: 25rem;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #9dc08b;
  box-shadow: 0px 3px 10px #3333335b;
}

.deposits-container button,
.new-expense-container button {
  font-size: 1.6rem;
  color: inherit;
  font-family: inherit;
  width: 4rem;
  height: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  align-self: center;
}

.deposits-container {
}

.new-expense-container {
}

.balance-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr repeat(2, 0.5fr) repeat(2, 1fr);
  align-items: center;
  padding: 1rem;
  height: 50vh;
  width: 70vw;
  max-width: 144rem;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #9dc08b;
  box-shadow: 0px 3px 10px #3333335b;
}

form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-size: 1.6rem;
  font-family: inherit;
  color: #333;
  resize: none;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 3px 10px #3333335b;
  background-color: #e4e4e4;
}

.value-input {
  height: 3rem;
  width: 6rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  text-align: center;
}

.text-input {
  height: 6rem;
  width: 90%;
  padding: 0.4rem;
}

.total {
  grid-column: 1 span / 3;
  grid-row: 1;
}

.total-expenses,
.total-deposits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e4e4e4;
  width: 8rem;
  height: 4rem;
  border-radius: 8px;
  box-shadow: 0px 3px 10px #3333335b;
  /* justify-self: flex-start; */
}

.total-deposits {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  /* margin-left: 4rem; */
}

.total-expenses {
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
  /* margin-right: 4rem; */
}

#recent-deposit {
  grid-column: 1;
  grid-row: 4;
  justify-self: center;
  /* margin-left: 4rem; */
}

#recent-expense {
  grid-column: 3;
  grid-row: 4;
  justify-self: center;

  /* margin-right: 4rem; */
}

#recent-deposit p,
#recent-expense p {
  font-size: 1.2rem;
  text-align: start;
  max-width: 16rem;
  overflow-wrap: break-word;
}

.recent-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
