:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  /* box-sizing: border-box; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  height: 60rem;
  width: 20rem;
  background-color: #f3deba;
  /* f1dbbf */
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  border: 2px solid white;
  border-right: none;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: #213547;
}

.nav-link:focus {
  outline: 2px solid #40513b;
}

.nav-link:active {
  outline: none;
}

ion-icon {
  font-size: 2rem;
  margin-left: 0.4rem;
}

.balance-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr repeat(2, 1fr);
  align-items: center;
  padding: 2rem;
  height: 60rem;
  width: 60vw;
  max-width: 144rem;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  border: 2px solid white;
  border-left: none;
  background-color: #abc4aa;
  /* box-shadow: 0px 3px 10px #3333335b; */
  /* 9dc08b */
}

body {
  display: flex;
  align-items: center;
  background-color: #ede4e0;
  min-height: 100vh;
}

h1 {
  font-size: 5rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid white;
  /* padding: 0.6em 1.2em; */
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #40513b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
:focus {
  outline: 2px solid #40513b;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #40513b;
  }
  button {
    background-color: #e4e4e4;
  }
}

p {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

.App {
  display: flex;
  align-self: center;
  justify-content: center;
  /* gap: 3rem; */
}

.expense-deposit-container {
  display: flex;
  gap: 3rem;
}

.deposits-container,
.new-expense-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  flex-grow: 0;
  gap: 1rem;
  flex-grow: 1;
  height: 60rem;
  width: 60vw;
  padding: 2rem;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  border: 2px solid white;
  border-left: none;
  background-color: #abc4aa;
  /* box-shadow: 0px 3px 10px #3333335b; */
}

.add-expense-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  gap: 1rem;
  grid-column: 1;
  grid-row: 2;
}

.form-btn {
  font-size: 3rem;
  line-height: 0;
  color: inherit;
  font-family: inherit;
  width: 6rem;
  height: 6rem;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  align-self: center;
  z-index: 2;
}

.category-btn-container {
  display: flex;
  gap: 0.3rem;
}

.category-btn {
  font-size: 1.8rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  color: inherit;
  z-index: 1;
  /* transition: all 0.75s; */
}

.cat-1-animation {
  animation: category-1 0.5s cubic-bezier(0, 0, 0.58, 1) forwards;
}

.cat-2-animation {
  animation: category-2 0.5s cubic-bezier(0, 0, 0.58, 1) forwards;
}

.cat-3-animation {
  animation: category-3 0.5s cubic-bezier(0, 0, 0.58, 1) forwards;
}

.cat-4-animation {
  animation: category-4 0.5s cubic-bezier(0, 0, 0.58, 1) forwards;
}

.category-btn:nth-child(1) {
  transform: translateY(-6rem) translateX(6rem);
}

.category-btn:nth-child(2) {
  transform: translateY(-6rem) translateX(2rem);
}

.category-btn:nth-child(3) {
  transform: translateY(-6rem) translateX(-2rem);
}

.category-btn:nth-child(4) {
  transform: translateY(-6rem) translateX(-6rem);
}

@keyframes category-1 {
  0% {
    transform: translateY(-6rem) translateX(6rem);
  }
  100% {
    transform: translateY(-3rem) translateX(1rem);
  }
}

@keyframes category-2 {
  0% {
    transform: translateY(-6rem) translateX(2rem);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes category-3 {
  0% {
    transform: translateY(-6rem) translateX(-2rem);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes category-4 {
  0% {
    transform: translateY(-6rem) translateX(-6rem);
  }
  100% {
    transform: translateY(-3rem) translateX(-1rem);
  }
}

/* .deposits-container {
}

.new-expense-container {
} */

form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-size: 1.6rem;
  font-family: inherit;
  color: #213547;
  resize: none;
  border-radius: 8px;
  border: none;
  border: 2px solid white;
  box-shadow: 0px 3px 10px #3333335b;
  background-color: #e4e4e44f;
}

.value-input {
  height: 4rem;
  width: 8rem;
  margin-bottom: 1rem;
  padding-left: 1.4rem;
  text-align: center;
}

.text-input {
  height: 12rem;
  width: 100%;
  padding: 0.4rem;
}

.total {
  grid-column: 1 span / 3;
  grid-row: 1;
  align-self: center;
}

.total-expenses,
.total-deposits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e4e4e4;
  width: 12rem;
  height: 6rem;
  border-radius: 12px;
  box-shadow: 0px 4px 4px #7878785b;
  /* justify-self: flex-start; */
}

.total-deposits {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  gap: 0.6rem;
}

.total-expenses {
  position: relative;
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
  gap: 0.6rem;
}

.recent-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.new-expense-container .recent-container {
  grid-column: 3;
  grid-row: 2;
}

#recent-deposit {
  grid-column: 2;
  grid-row: 2 span;
  height: 22rem;
  justify-self: center;
  align-self: flex-start;
  overflow-y: scroll;
  scrollbar-width: 0;
}

#recent-expense {
  grid-column: 3;
  grid-row: 2 span;
  height: 22rem;
  justify-self: center;
  align-self: flex-start;
  overflow-y: scroll;
  scrollbar-width: 0;
}

#recent-expense::-webkit-scrollbar,
#recent-deposit::-webkit-scrollbar {
  display: none;
}

#recent-deposit p,
#recent-expense p {
  font-size: 1.6rem;
  text-align: start;
  max-width: 15rem;
  overflow-wrap: break-word;
}

#recent-deposit h4,
#recent-expense h4 {
  margin-bottom: 1rem;
}

.recent-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 20rem;
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 12px;
  box-shadow: 0px 3px 10px #ffffff5b;
}

.price-category-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
}

.price-category-container .legend-icon {
  margin-left: 0.4rem;
}

.pie-chart {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  margin-bottom: 4rem;
}

.pie-chart-animation {
  animation: chartRefresh 0.5s forwards;
}

@keyframes chartRefresh {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.legend {
  display: flex;
  align-items: center;
  grid-column: 2;
  grid-row: 2;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 3rem;
}

.legend span {
  font-size: 1.4rem;
}

.legend-icon {
  height: 1rem;
  width: 1rem;
  margin: 0 0.4rem 0 1rem;
}

.legend-icon:nth-child(1) {
  background-color: #698269;
}

.legend-icon:nth-child(3) {
  background-color: #b99b6b;
}

.legend-icon:nth-child(5) {
  background-color: #f1dbbf;
}

.legend-icon:nth-child(7) {
  background-color: #aa5656;
}

/* PIE CHART IONN THE EXPENSES PAGE */

.pie-chart-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  grid-column: 2;
  grid-row: 2;
}

.bar-graph-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  grid-column: span 3;
  grid-row: 3;
  border: 2px solid white;
  border-radius: 12px;
  /* border-bottom-left-radius: 0%; */
}

.month-container {
  margin-bottom: 1rem;
}
